:root {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-accent: "Fira Code", monospace;
}
:root {
  --mobile: 768px;
  --reading-width: 1000px;
}
:root {
  --font-xx: 0.6rem;
  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-r-s: 1rem;
  --font-r: 1rem;
  --font-m: 1.125rem;
  --font-l: 2rem;
  --font-xl-l: 3.75rem;
  --font-xl: 3.75rem;
  --size-4-: 0.25rem;
  --size-3-: 0.35rem;
  --size-2-: 0.5rem;
  --size-1x: 1rem;
  --size-2x: 2rem;
  --size-3x: 3rem;
  --size-4x: 4rem;
  --size-5x: 5rem;
  --size-6x: 7rem;
  --size-7x: 10rem;
}
@media screen and (max-width: 767px) {
  :root {
    --font-xx: 0.6rem;
    --font-xs: 0.75rem;
    --font-s: 0.875rem;
    --font-r-s: 0.875rem;
    --font-r: 0.95rem;
    --font-m: 1rem;
    --font-l: 2rem;
    --font-xl-l: 2rem;
    --font-xl: 2.75rem;
    --size-4-: 0.25rem;
    --size-3-: 0.35rem;
    --size-2-: 0.5rem;
    --size-1x: 1rem;
    --size-2x: 1.5rem;
    --size-3x: 2rem;
    --size-4x: 3rem;
    --size-5x: 4rem;
    --size-6x: 5.5rem;
    --size-7x: 7rem;
  }
}

:root[data-theme="dark"] {
  --primary-bright: #ffffff;
  --primary: #bfbfbf; /* Orange shade for dark theme */
  --primary-dim: #888889;
  --primary-dim2: #262627;
  --primary-dark: #141415;
  --secondary: #ff9900;
  --secondary-bright: #d98c00;
  --background: #060708;
  --background-dim: #08090a;
  --background-dim2: #0e0f11;
  --neon-1-1: #f5a003;
  --neon-1-2: #e09200;
  --neon-2-1: #c58000;
  --neon-2-2: #aa6f00;
  --icon-bright: #ffffff;
  --brightness-low: 100%;
  --brightness-high: 100%;
  --mesh-color-1: #8b7202;
  --mesh-color-2: #695100;
  --mesh-color-3: #4b3900;
  --mesh-color-4: #352400;
  color-scheme: dark;
  --bg-gradient: radial-gradient(#443800a4, #241e00af, #131000a4, #000000);
}

:root[data-theme="light"],
:root[data-theme="undefined"] {
  --primary-bright: #000000;
  --primary: #2e2e2e; /* Orange shade for light theme */
  --primary-dim: #3a3a3a;
  --primary-dim2: #585858;
  --primary-dark: #dfdfdf;
  --secondary: #ff9900;
  --secondary-bright: #d98c00;
  --background: #ededed;
  --background-dim: #fbfbfb;
  --background-dim2: #fefefe;
  --neon-1-1: #f5a003;
  --neon-1-2: #e09200;
  --neon-2-1: #c58000;
  --neon-2-2: #aa6f00;
  --icon-bright: var(--neon-1-1);
  --mesh-color-1: #f8e4ae;
  --mesh-color-2: #e7d3a6;
  --mesh-color-3: #e6dbba;
  --mesh-color-4: #dad6c8;
  --bg-gradient: radial-gradient(#e6e3d7a4, #dbd6beaf, #d1cdb8a4, #ffffff);
}

:root[data-theme="unicorn"] {
  --primary-bright: #000000;
  --primary: #2e2e2e;
  --primary-dim: #464646;
  --primary-dim2: #585858;
  --primary-dark: #dfdfdf;
  --secondary: #ff00bb;
  --secondary-bright: #feff00;
  --background: #ffffff;
  --background-dim: #fbfbfb;
  --background-dim2: #fefefe;
  --neon-1-1: #37eaf7;
  --neon-1-2: #c624ee;
  --neon-2-1: #eaf737;
  --neon-2-2: #2493ee;
  --icon-bright: var(--neon-1-1);
  --mesh-color-1: #96c4f3;
  --mesh-color-2: #f296cc;
  --mesh-color-3: #efe2ba;
  --mesh-color-4: #c8d7da;
  --bg-gradient: radial-gradient(#e6e3d7a4, #dbd6beaf, #d1cdb8a4, #ffffff);
} /*# sourceMappingURL=variables.css.map */
